{% extends "headline.html" %}

{% block content %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Добавить Информацию</title>
</head>
<body>
  <div class="content_block" style="font-family: 'Lobster', cursive;">
    <center><h1 style="font-size: 50px;
        font-family: 'Lobster', cursive;">Добавить информацию</h1></center>
    <p style="left: 10%;">Заполните форму. Добавьте информацию или загрузите файл. Если вы добавили информацию в форме, файл не учитывается</p><br>
      {% for i in errors %}
                <p class="alert alert-danger">{{ i }}</p>
      {% endfor %}
    <div style="height: 100%; position: absolute; left: 10%;right: 10%;">
    <form action="" method="post" enctype="multipart/form-data">
      <div class="form-group">
                                    <label for="photo">Выберите файл</label><br>
                                    <input type="file" class="form-control-file" id="photo" name="file">
                                </div>
        {{ form.hidden_tag() }}
        <br><p style="font-family: 'Lobster', cursive; left: 10%">{{ form.word.label }}</p>
        {{ form.word(class="form-control", style="border-color: greenyellow; left: 10%; right: 10%; width: 100%;") }}<br>
        <p>{{ form.words.label }}</p>
        <p>{{ form.words(class="form-control", style="border-color: greenyellow; left: 10%; right: 10%; width: 100%;") }}</p><br>
            <p>{{ form.text.label }}</p>
            <p  style="border-color: greenyellow; height: 50%;">{{ form.text(class="form-control", class="search_area", style="border-color: greenyellow; width: 100%;") }}</p><br>
            <p>Чтобы сохранить, нажмите кнопку добавить.</p>
            <p class="alert alert-warning">Редактирование в данном случае будет недоступно</p>
              <p style="border-color: greenyellow; left: 10%; width: 20%; height: 10%;">{{ form.submit(type="submit", style="border-color: greenyellow;") }}</p><br>

        </form>
      </div>
  </div>

</body>
</html>
{% endblock %}