{% extends "headline.html" %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ main_word }}</title>
    <style type="text/css">
        .search_comment_button{
            font-family: 'Lobster', cursive;
            position: absolute;
            height: 60px;
            border-color: greenyellow;
            width: 100px;
        }
    </style>
</head>
<body>
<div class="content_block">
    <main role="main" class="container">
    {% block content_1 %}
    {% endblock %}
    <p class="font_block_lobster">Автор: {{ user_name }} {{user_surname }}</p>
    <p class="font_block_lobster">Дата создания: {{ modified_date }}</p>
    <p class="font_block_lobster">Комментарии: {{ number_of_comments }}</p>
    <a href="{{ site }}"><button class="search_comment_button">Открыть комментарии!</button></a>
    </main>
</div>

</body>

</html>
{% endblock %}