{% extends "headline.html" %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ main_word }}</title>
    <style type="text/css">
        .search_comment_button{
            font-family: 'Lobster', cursive;
            height: 60px;
            border-color: greenyellow;
            width: 150px;
        }
    </style>
</head>
<body>
<div class="content_block">
    <main role="main" class="container">
        <meta http-equiv="Content-Type" content="text/html; charset=cp1251"><center>
            <div>
    {% block content_1 %}
    {% endblock %}
        </div></center>
        <div style="font-size: 20px; font-family: 'Lobster', cursive;">
    <p class="font_block_lobster">Автор: {{ user_name }} {{user_surname }}</p>
    <p class="font_block_lobster">Дата создания: {{ modified_date }}</p>
    <p class="font_block_lobster">Колличество лайков: {{ likes }}</p>
    <p class="font_block_lobster">Комментарии: {{ number_of_comments }}</p>
    {% if is_authenticated %}
    <div>
        <form action="" method="post" name="name">
        {{ name1.hidden_tag() }}
            {% if is_liked %}
        <p style="width: 20%; height: 60px;">{{ name1.submit1(type="submit", style="border-color: greenyellow; width: 100px; height: 60px; background-color: #98ff98;") }}</p>
        {% else %}
        <p style="width: 20%; height: 60px;">{{ name1.submit1(type="submit", style="border-color: greenyellow; width: 100px; height: 60px; ") }}</p>
        {% endif %}
    </form>
    <a href="/add_complaint/{{ folder }}"><button class="search_comment_button" style="left: 120px; width: 200px; height: 60px; top: -55px;">Пожаловаться</button></a>
    {% if current_user.type == 2 %}

    <a href="{{ site }}"><button class="search_comment_button">Заблокировать работу</button></a>
        {% endif %}
    {% if current_user.type_of_user > 0 %}
    <a href="{{ site1 }}"><button style="left: 200px; top: 60px;" class="search_comment_button">Править работу</button></a>
    {% endif %}
</div>
<div>
{% endif %}
    {% if is_authenticated %}
    <form action="" method="post" name="name1">
        {{ name1.hidden_tag() }}
        <div style="left: 10%; right: 10%; font-family: 'Lobster', cursive; position: absolute;">
            <h2>Оставить комментарий</h2>
            <p>{{ current_user.name }}</p>
            <p>{{ name1.text.label }}</p>
            <p style="border-color: greenyellow; width: 80%; height: 50%;">{{ name1.text(class="form-control", style="border-color: greenyellow; width: 80%; height: 50%;") }}</p>
            <p style="width: 20%; height: 60px">{{ name1.submit(type="submit", style="border-color: greenyellow; width: 120px; height: 60px;") }}
            </p><br>
            <h3>Комментарии</h3>
            {% for i in comment %}
            <hr>
            <h7 style="font-size: 10px;">{{ i["modified_date"] }}</h7>
            <h4>{{ i["user_name"] }}</h4>
            <p>
                {{ i["text"]}}
            </p><br>
            {% endfor %}
        </div>
    </form></div>
    {% endif %}</div>
    </main>
</div>

</body>

</html>
{% endblock %}