<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../static/css/bootstrap.min.css">
    <link href="../static/fonts/Lobster-Regular.ttf" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>

    <!-- Begin page content -->
<div class="left_right_block"></div>
<div class="block">
    <a style="text-decoration: none" href="/">
        <div><h1 style="color: white" class="font_block_lobster">InfoDesk</h1></div>
    </a>
    {% if current_user.is_authenticated %}
    <a href="/my-office"><button class="register_button" style="color: white">{{ current_user.name }}</button></a>
    <a href="/logout"><button class="login_block_button" style="color: white">Выйти</button></a>
    <a href="/add-new/Новая"><button class="login_block_button" style="left: 67%; color: white;">Добавить</button></a>
    <a href="/site"><button class="login_block_button" style="color: white; wight: 50px; left: 59.5%;">i</button></a>

    {% else %}
        <a href="/register"><button class="register_button" style="color: white; font-size: 16px;">Зарегистрироваться</button></a>
        <a href="/login"><button class="login_block_button" style="color: white; font-size: 16px;">Войти</button></a>
    <a href="/site"><button class="login_block_button" style="color: white; wight: 50px; left: 67%;">i</button></a>

    {% endif %}
</div>
<!-- <div class="content_block"></div> -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>