{% extends "headline.html" %}

{% block content %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Информация о сайте</title>
</head>
<body>
	<div class="content_block" style="position: absolute;">
	<div style="left: 10%; right: 10%; width: 80%; font-family: 'Lobster', cursive; position: absolute;">
		<h1>Как работает наш сайт?</h1>
		<h3>Общая информация</h3>
		<p>Добро пожаловать на сайт "название сайта!!!"! Здесь вы можете посмотреть информацию по вашему запросу.
		Наш сайт предоставляет вам информацию, добавленную и проверенную нашими пользователями.</p>
		<h3>Возврат на главную страницу</h3>
		<p>Чтобы вернуться на главную страницу достаточно нажать на название сайта в верхнем левом углу</p>
		<h3>Регистрация</h3>
		<p>Чтобы зарегистрироваться на нашем сайте, нажмите кнопку "Зарегистрироваться" в правом верхнем углу. Вам откроется форма, где вам нужно будет указать информацию о себе. После этого, на сайте будет создана ваша учетная запись. Чтобы воспользоваться ею, войдите на сайт (с помощью кнопки "Войти" в правом верхнем углу. После регистрации вам будет доступна возможность оценивать предоставляемую информацию, получать информацию для с помощью нашего API, а также добавлять новую. Для неавторизованных пользователей информация будет доступна только для чтения.
		</p>
		<h3>Добавление новой информации</h3>
		<p>Чтобы добавить новую информацию, нажмите на кнопку "Добавить" в правом верхнем углу и заполните форму. Можно загрузить .txt и .html файлы. При загрузке файла и добавлении информации в форму будет учитываться информация в форме</p>
		<p class="alert alert-warning">Информацию можно загружать только зарегистрированным пользователям</p>
		<h3>Личный кабинет</h3>
		<p>Чтобы перейти в личный кабинет, нажмите на кнопку с вашим именем в правом верхнем углу. В личном кабинете вам доступен список добавленной вами информации и ваш личный API-токен, который вы можете сменить.</p>
		<h3>REST-API (для разработчиков)</h3>
		<h5>Запрос всей информации по слову</h5>
		<p>Чтобы получить всю доступную информацию по слову вам нужно отправить GET-запрос на "/api/all_information/word", где  word - это слово, по которому вы ищете информацию. ВАЖНО: в headers не забудте указать свой токен!</p>
		<h5>Запрос основной информации по слову</h5>
		<p>Чтобы получить основную информацию по слову вам нужно отправить GET-запрос на "/api/main_information/word", где  word - это слово, по которому вы ищете информацию. ВАЖНО: в headers не забудте указать свой токен!</p>
		<h5>Добавление информации</h5>
		<p>Чтобы добавить информацию вам нужно отправить POST-запрос на "/api/information" и указать в теле запроса параметры: 
		text - содержимое информации (тип данных - строка)
		word - основное слово для поиска (тип данных - строка)
		words - список слов для поиска (тип данных - строка или null, формат: слово; слово). ВАЖНО: в headers не забудте указать свой токен!</p>
	</div>
	</div>

</body>
</html>
{% endblock %}